.black{
    background-color: black;
    color: white;
}

.btn{
    background-color: green;
    color: white;
    display: block;
    padding: 5px;
    border-radius: 3px;
}

.hobbies{
    background-color: orange;
    color: black;
    padding: 10px;
    margin: 10px;
}